@model CoffeeShop.Backend.Models.ViewModels.ChangePasswordVm

@{
    ViewBag.Title = "ChangePassword";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>修改密碼</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="mb-3">
            @Html.LabelFor(model => model.OriginalPassword, htmlAttributes: new { @class = "form-label col-md-2" })
            @Html.EditorFor(model => model.OriginalPassword, new { htmlAttributes = new { @class = "form-control", id = "OriginalPassword" } })
            @Html.ValidationMessageFor(model => model.OriginalPassword, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label col-md-2" })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", id = "NewPassword" } })
            <span class="text-danger" id="password-error"></span> 
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-label col-md-2" })
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", id = "ConfirmPassword" } })
            <span class="text-danger" id="confirm-password-error"></span> 
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <input type="submit" value="送出" class="btn btn-primary" id="submit-btn" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script>
$(document).ready(function () {
       
            $('#NewPassword, #ConfirmPassword').on('input', function () {
                validatePassword();
            });
    
            function validatePassword() {
                var newPassword = $('#NewPassword').val();
                var confirmPassword = $('#ConfirmPassword').val();
                var isValid = true;

                if (newPassword.length < 6) {
                    $('#password-error').text('密碼至少需要6個字符');
                    isValid = false;
                } else {
                    $('#password-error').text('');
                }
                if (newPassword !== confirmPassword) {
                    $('#confirm-password-error').text('確認密碼與新密碼不一致');
                    isValid = false;
                } else {
                    $('#confirm-password-error').text('');
                }

                $('#submit-btn').prop('disabled', !isValid);
            }
        });</script>
}